<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>ATMOS</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
    <div class="btn-group" role="group" aria-label="Basic example" style="float: right">
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/all/news}" class="btn btn-secondary"
           style="background-color: #1c7430">Список всех новостей</a>
        <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/user/all/news}" class="btn btn-secondary"
           style="background-color: #1c7430">Список всех новостей</a>
        <!--        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/api/board}"  class="btn btn-secondary">Middle</a>-->
        <a href="/logout" class="btn btn-secondary" style="background-color: darkred;">Выход</a>
    </div>
</head>
<body class="container">
<h1 class="py-5">ПОДЕЛИТЬСЯ (Страница 3)</h1>
<form class="col card p-3 mb-5" method="post" th:action="@{/api/board}" th:object="${newBoard}">
    <div class="form-group">
        <label for="firstName">Поделиться новостями</label>

        <input type="text" class="form-control" id="firstName" placeholder="Текст..." required
               th:field="*{description}"/>
        <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </div>
    <input class="btn btn-primary" type="submit" value="Отправить">
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</body>
</html>
