<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>ATMOS</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.css}">
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.6.3/css/all.css}"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <div layout:fragment="styles">

    </div>

</head>
<body>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 border-right">
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/api/board}"
                                       class="btn btn-outline-success btn-block" id="userlist">Поделиться</a>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <a href="/logout" class="btn btn-danger btn-block mt-2">Выход <i
                                            class="fas fa-sign-out-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="content" layout:fragment="main">


                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script th:src="@{/assets/js/jQuery.min.js}"></script>
<script th:src="@{/assets/js/src/popover.js}"></script>
<script th:src="@{/assets/js/bootstrap.js}"></script>
<script layout:fragment="scripts"></script>
</body>
</html>